@using Milestone_Project;
@using Newtonsoft.Json;

@model Cell[,]
<body>
    <p>Current Time: @DateTime.Now</p>
    <div class="game-board" align="center">
        @for (int row = 0; row < Model.GetLength(0); row++)
        {
            <div class="row">
                @for (int col = 0; col < Model.GetLength(1); col++)
                {
                    var cell = Model[row, col];
                    //<form method="post" action="/Game/CellClicked" style="display: inline;">
                        <input type="hidden" name="col" value="@col" />
                        <input type="hidden" name="row" value="@row" />
                        <button type="button" class="game-button" value=@col+@row data-row=@col data-col=@row>
                        @if (@Model[row, col].IsRevealed)
                        {
                            if (@Model[row, col].IsMine)
                            {
                                <span class="mine"><img src="~/img/bomb.png" /></span>
                            }
                            else if (@Model[row, col].AdjacentMines > 0)
                            {
                                <span>@Model[row, col].AdjacentMines</span>
                            }
                        }
                        </button>
                    //</form>
                }
            </div>
        }
    </div>

    <br />

    @{
        string formattedString = DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss");
    }

    <button type="submit" class="save-button" data-date="@formattedString" data-model="@JsonConvert.SerializeObject(Model)">SAVE</button>

</body>
