@model Milestone_Project.Cell

<input type="hidden" name="col" value="@Model.Column" />
<input type="hidden" name="row" value="@Model.Row" />
<button type="button" class="game-button" data-row="@Model.Row" data-col="@Model.Column">
    @if (Model.IsRevealed)
    {
        if (Model.IsMine)
        {
            <span class="mine"><img src="~/img/bomb.png" /></span>
        }
        else if (Model.AdjacentMines > 0)
        {
            <span>@Model.AdjacentMines</span>
        }
    }
</button>
